 <!-- <form #addForm="ngForm" (ngSubmit)="showForm(addForm)">
    <div class="form-group">
        <label for="">Title</label>
        <input type="email" class="form-control" name="title" ngModel #title="ngModel" required minlength="4">
         <small class="text-danger" *ngIf="title.invalid && title.touched">Required field!</small> 

        <small class="text-danger" *ngIf="title.errors?.['required'] && title.touched">Required field!</small>
        <small class="text-danger" *ngIf="title.errors?.['minlength'] && title.touched">At Least 4 chacarters!</small>
      </div>

      <div class="form-group">
        <label for="">image</label>
        <input type="file" class="form-control" name="image" ngModel #image="ngModel">
      </div>
      <div class="form-group">
        <label for="">description</label>
        <textarea rows="2" cols="4" class="form-control" name="description" ngModel #description="ngModel"></textarea>
      </div>
       <input type="checkbox" name="available" #available="ngModel" ngModel>Available
      <input type="checkbox" name="available" #available="ngModel" ngModel>Not Available 
      <button class="btn btn-primary">Save</button>
</form>

  -->
